{% extends "uchicago-cs/base.html" %}
{% load bootstrap4 %}

{% block content %}

    <h2>Today's Requests</h2>

<ul class="nav nav-tabs" id="todayTabs">
  <li class="nav-item active"><a class="nav-link" data-toggle="tab" href="#now">Pending Now ({{  requests_pending_now.count }})</a></li>
  <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#today">Pending Today ({{  requests_pending_today|length }})</a></li>
  <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#scheduled">Scheduled ({{  requests_scheduled|length }})</a></li>
  <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#in-progress">In Progress ({{  requests_inprogress.count }})</a></li>
  <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#completed">Completed ({{  requests_completed.count }})</a></li>
</ul>

<div class="tab-content">

{% include "./requests-tab.html" with requests=requests_pending_now tab_id="now" tab_active=True %}

{% include "./requests-tab.html" with requests=requests_pending_today tab_id="today" %}

{% include "./requests-tab.html" with requests=requests_scheduled tab_id="scheduled" %}

{% include "./requests-tab.html" with requests=requests_inprogress tab_id="in-progress" %}

{% include "./requests-tab.html" with requests=requests_completed tab_id="completed" %}

</div>


    <script>
$('#todayTabs a').click(function(e) {
  e.preventDefault();
  $(this).tab('show');
});

// store the currently selected tab in the hash value
$("ul.nav-tabs > li > a").on("shown.bs.tab", function(e) {
  var id = $(e.target).attr("href").substr(1);
  window.location.hash = id;
});

// on load of the page: switch to the currently selected tab
var hash = window.location.hash;
$('#todayTabs a[href="' + hash + '"]').tab('show')
</script>

{% endblock %}
