{% extends "uchicago-cs/base.html" %}
{% load bootstrap4 %}
{% load static %}

{% block extra_head %}
{{ form.media }}
    <script src="{% static 'uchicago-cs/request-form.js' %}"></script>

    <script>
        $(document).ready(function(){
            setup_zoom_input();
        });
    </script>
{% endblock %}


{% block content %}


    <h4>Request for {{ req.date }}</h4>

       <form action="{{ form_action }}" method="post" class="form">
      {% csrf_token %}
      {% bootstrap_form form %}
      {% buttons %}
        <button type="submit" class="btn btn-primary">
          {{ button_label }}
        </button>
      {% endbuttons %}
       </form>

{% endblock %}
