{% load bootstrap4 %}

<div class="modal fade" id="confirm-action-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Are you sure?</h5>
            </div>

            <div class="modal-body" id="confirm-msg">

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Go Back</button>
                <a href="#" id="confirm-action-btn" class="btn btn-danger danger">Yes, do it</a>
            </div>
        </div>
    </div>
</div>


{% if tab_active %}
  <div id="{{tab_id}}" class="tab-pane fade show active">
{% else %}
  <div id="{{tab_id}}" class="tab-pane fade">
{% endif %}
  <div id="accordion">
    {% for req in requests %}
  <div class="card">
    <div class="card-header" id="{{tab_id}}-{{req.pk}}-heading">
      <h5 class="mb-0">
        <button class="btn btn-link{% if expand_request == req.pk %} collapsed{% endif %}" data-toggle="collapse" data-target="#{{tab_id}}-{{ req.pk }}-collapse" aria-expanded="true" aria-controls="collapseOne">
         {{req.get_accordion_display}}
        </button>
      </h5>
    </div>

    <div id="{{tab_id}}-{{ req.pk }}-collapse" class="collapse{% if expand_request == req.pk %} show{% endif %}" aria-labelledby="{{tab_id}}-{{req.pk}}-heading" data-parent="#accordion">
      <div class="card-body">
                <p>
              <button type="button" class ="{{req.get_state_class}}" disabled>{{req.get_state_display}}</button>
          </p>

      {% if req.is_pending %}
          <h4>Slots:</h4>
          <ul>
             {% for slot in req.ordered_slots %}
                 <li>{{ slot }}</li>
             {% endfor %}
         </ul>
     {% endif %}

          <p>
              <b>E-mail</b>: <a href="mailto:{{ req.student.email }}">{{ req.student.email }}</a>
          </p>

     {% if req.is_scheduled or req.is_inprogress %}
          <p>
             Scheduled for <b>{{ req.actual_slot.interval }}</b>.
          </p>
         {% if req.is_scheduled %}
         <p>
             Scheduled by <b>{{ req.server.get_full_name }}</b> (<a href="mailto:{{ req.server.email }}">{{ req.server.email }}</a>)
         </p>
         {% elif req.is_inprogress %}
         <p>
             Assigned to <b>{{ req.server.get_full_name }}</b> (<a href="mailto:{{ req.server.email }}">{{ req.server.email }}</a>)
         </p>
         {% endif %}

          {% if req.is_scheduled_online %}
          <p>
              Zoom URL:

              {% if req.is_scheduled %}
                  <a href="{{ req.zoom_url }}" target="_blank" onclick="return confirm('You have not claimed this request. Are you sure you want to open this Zoom link?')">{{ req.zoom_url }}</a>
              {% elif req.is_inprogress %}
                  <a href="{{ req.zoom_url }}" target="_blank">{{ req.zoom_url }}</a>
              {% endif %}

          </p>
          {% endif %}


     {% endif %}

          <h4>Description:</h4>
      <div class="form-group">
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" readonly>{{ req.description }}</textarea>
  </div>



  <div class="row">
    <!-- LEFT FORM -->
    <div class="col-sm text-left">

        {% if req.is_pending %}
             <form action="{% url 'request-detail' req.course_offering.url_slug req.pk %}" id="scheduleform_{{ req.pk }}" method="post" class="form-inline">
             {% csrf_token %}
             <input type="hidden" name="update-type" value="schedule"/>
             <input type="hidden" name="next-page" id="schedule-next-page_{{ req.pk }}" value="{% url 'requests-today' course_offering.url_slug %}"/>
             <input type="hidden" name="next-hash" id="schedule-next-hash_{{ req.pk }}" value="scheduled"/>

             <select name="slot" class="form-control">
                 {% for slot in req.ordered_slots %}
                     <option value="{{slot.pk}}">{{ slot }}</option>
                 {% endfor %}
             </select>
             {% buttons %}
             <button type="submit" class="btn btn-primary">
            Schedule
            </button>
             {% endbuttons %}
             </form>
        {% elif req.is_scheduled %}
            <form action="{% url 'request-detail' req.course_offering.url_slug req.pk %}" id="claimform_{{ req.pk }}" method="post" class="form-inline">
                {% csrf_token %}
                    <input type="hidden" name="update-type" value="start-service"/>
                    <input type="hidden" name="next-page" id="claim-next-page_{{ req.pk }}" value="{% url 'requests-today' course_offering.url_slug %}"/>
                    <input type="hidden" name="next-hash" id="claim-next-hash_{{ req.pk }}" value="in-progress"/>
                {% buttons %}
                    <button type="submit" class="btn btn-primary">Claim this request</button>
                {% endbuttons %}
            </form>
        {% elif req.is_inprogress %}
            <form action="{% url 'request-detail' req.course_offering.url_slug req.pk %}" id="doneform_{{ req.pk }}" method="post" class="form-inline">
                {% csrf_token %}
                    <input type="hidden" name="update-type" value="complete-service"/>
                    <input type="hidden" name="next-page" id="done-next-page_{{ req.pk }}" value="{% url 'requests-today' course_offering.url_slug %}"/>
                    <input type="hidden" name="next-hash" id="done-next-hash_{{ req.pk }}" value="completed"/>
                {% buttons %}
                    <button type="submit" class="btn btn-primary">Mark as Done</button>
                {% endbuttons %}
            </form>
        {% endif %}
    </div>
    <div class="col-sm text-right">
        <!-- RIGHT FORM -->
        {% if req.is_pending or req.is_scheduled or req.is_inprogress %}
        <form action="{% url 'request-detail' req.course_offering.url_slug req.pk %}" id="actionform_{{ req.pk }}" method="post" class="form-inline float-sm-right">
            {% csrf_token %}
            <input type="hidden" name="confirm" id="action-confirm_{{ req.pk }}"/>
            <input type="hidden" name="next-page" id="action-next-page_{{ req.pk }}" value="{% url 'requests-today' course_offering.url_slug %}"/>
            {% if req.is_scheduled %}
            <input type="hidden" name="next-hash" id="action-next-page_{{ req.pk }}" value="scheduled"/>
            {% elif req.is_inprogress %}
            <input type="hidden" name="next-hash" id="action-next-page_{{ req.pk }}" value="in-progress"/>
            {% endif %}

            <select name="update-type" id="update-type_{{ req.pk }}" class="form-control">
                <option selected disabled value="none">-- Select an action --</option>
                <optgroup label="Mark as...">
                    {% if not req.is_pending %}
                    <option value="complete-service">Done</option>
                    <option value="no-show">No Show</option>
                    {% endif %}
                    <option value="could-not-see">Could Not Be Seen</option>
                </optgroup>
                {% if not req.is_pending %}
                <optgroup label="Send notification...">
                    <option value="running-late">Running late to Zoom meeting</option>
                    <option value="invalid-zoom-link">Zoom link does not work</option>
                    <option value="not-in-zoom">Not in Zoom meeting</option>
                </optgroup>
                {% endif %}
            </select>
            {% buttons %}
                <input type="button" value="Apply" data-id="{{ req.pk }}" data-target="#confirm-action" class="btn btn-success applyBtn" />
            {% endbuttons %}
        </form>
        {% endif %}
    </div>
  </div>
  </div>
    </div>
  </div>
    {% endfor %}
  </div>
  </div>
