{% extends "uchicago-cs/base.html" %}
{% load bootstrap4 %}

{% block extra_head %}
{{ form.media }}

{% endblock %}


{% block content %}


    <h4>Office Hours Status ({{ date }})</h4>

{% if not slot_requests %}

There are no office hours on this date.

{% else %}

    <p>There are currently <strong>{{ total_pending }}</strong> pending requests for office hours.</p>

    <div class="alert alert-secondary" role="alert">
        <strong>Note</strong>: The "# Requests" column represents the number of pending requests that included
        that time slot in the request. It does not represent the number of students who are waiting to be seen
        at exactly that time, so you should treat it as an indirect measure of how busy a given time slot
        might be.
    </div>


    <table class="table">
  <thead>
    <tr>
      <th scope="col">Slot</th>
      <th scope="col"># Requests</th>
      <th scope="col">Scheduled</th>
      <th scope="col">In Progress</th>
      <th scope="col">Completed</th>
    </tr>
  </thead>
  <tbody>
    {% for slot, counts in slot_requests.items %}
        <tr>
            <th scope="row">{{ slot.interval }}
                {% if slot.online %}[Online]{% endif %}
            </th>
          <td>{{counts.num_requests}}</td>
          <td>{{counts.scheduled}}</td>
          <td>{{counts.inprogress}}</td>
          <td>{{counts.completed}}</td>
        </tr>
    {% endfor %}
  </tbody>
</table>


{% endif %}


{% endblock %}
